* {
    margin: 0;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}



.top-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20px;
    background: #1F2937;
    color: white;
    padding-bottom: 40px;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 890px;
}

.subheader1{
    display: flex;
    font-size: 24px;
    


    
}

.subheader2 {
display: flex;
justify-content: end;
width: 743.8px;
    

}

ul {
    display:flex;

    gap: 20px;
    list-style-type: none;
      
   }

a {
    text-decoration: none;
    color: white;
    gap: 20px;
    display: flex;

   }

/* */

   .top-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-width: 500px;
    padding: 40px;
    height: 250px;
    gap: 40px;


    color: white;
    background-color:#1F2937;

   }

   .left-side {
       width: 400px;
   }

   .right-side {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 450px;
       height: 200px;
       background-color:#e5e7eb5e;

   }

.title1 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
}

.subtitle1 {
    padding-bottom: 10px;
}

.button1 {
    padding: 5px 30px;
    margin-top: 10px;
    border-radius: 0.5em;
    background-color: #3882f6;
    color: white;
    
}


.title-2 {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 32px;
    font-weight: bold;
}

.middle-top {
    height: 400px;
}

.boxes
 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5px;
    
    
}

.box,
.text {
        height: 150px;
        width: 150px; 
        min-width: 150px;
        text-align: center;
        border: 3px solid white;

}

.box {
    border: 3px solid #3882f6;
    border-radius: 0.5em;

}


.middle-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #E5E7EB;
}


.quote,
.signature {
    width: 700px;
}

.quote {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}
.signature {
    text-align: end;
    font-weight:bold;
    font-size: 20px;
}



.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    
}

.sub-bottom {
    width: 850px;
    display: flex;
    background-color: #3882f6;
    border-radius: 0.5em;
}

.left-side-2 {
    padding: 30px;
    margin-left: 50px;
}

.title3 {
    font-weight: 500;
}

.button2 {
    padding: 5px 30px;
    margin-top:35px;
    margin-bottom: 35px;
    margin-left: 120px;
    border-radius: 0.5em;
    background-color: #3882f6;
    border: 1px solid white;
    color: white;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: white;
}

/* recordar restructurar espacios from top to bottom de cuanto ocupa cada seccion*/